<p>todoslist works!</p>
<input type="text" #newTodo1>
<button (click) ="addTodo(newTodo1.value); newTodo1.value=''" >{{ cond_vall ? 'Update' : 'Add' }}</button> 
<table>
    <tr>
      <th>Tasks</th> 
      <th>Action</th>
    </tr> 
    <tr *ngFor = "let todo of todos; let i = index">
      <td>{{todo.task}}</td>
      <td>  
        <button (click)="deleteTodo(todo)">Delete</button>
        <button (click)="editTodo(i)">Edit</button>
      </td>
    </tr>
</table>

<!-- <button class="btn btn-lg btn-outline-primary" (click)="open()">Launch modal with animation</button> -->

<!-- <app-task-details></app-task-details> -->
